.avatar-image {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
}

.product-image {
    width: 200px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
}

.line-divider2 {
    border-top: 1px solid #ccc; /* Define the line's appearance */
    margin: 10px 0; /* Adjust margin as needed */
}